:root {
    --color-text: #001a33;
    --color-label-form: #001a33;
    --color-text-form: #001a33;

    // variable button
    --background-button-primary: #3b82f6;
    --background-button-primary-hover: #1d4ed8;
    --text-button-primary: #fff;
    --background-button-neutral: #eaedf0;
    --background-button-neutral-hover: #dfe2e7;
    --text-button-neutral: #081c36;
    --background-button-secondary: #e5efff;
    --background-button-secondary-hover: #c7e0ff;
    --text-button-secondary: #005ae0;
}
